<!DOCTYPE html>
<head>
<title>ERROR</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'fs/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<script>
$(document).ready(function(){        
   $("#myModal").modal();
    }); 
</script>
<body>
<div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
	
		<img class="center" src="{% static 'fs/images/logo.png' %}" >
      </div>
      <div class="modal-body">
<br><br><br><br>
	<div class="error" style="color:red;font-size:30px;">
	{% if error_message %}
                        {{ error_message }}
	{% endif %}
	<br><br><br>
	</div>
<form action="{% url 'login1' %}">
<button class="center" id="login-button" type="submit">OK</button>
 	</div>
  </div>

  </div>
</div>
</div>

</body>
</html>
